<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Core.Common" version="1.0.0.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Common" version="1.0.3.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Arch.Lifecycle.Runtime" version="1.0.3.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Annotations" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.Compat" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Android.Support.CustomTabs" version="27.0.2.1" targetFramework="monoandroid81" />
  <package id="Xamarin.Auth" version="1.6.0.2" targetFramework="monoandroid81" />
  <package id="Xamarin.CustomAccountStore" version="1.0.0" targetFramework="monoandroid81" />
  <package id="Xamarin.HttpConnection" version="1.0.0" targetFramework="monoandroid81" />
  <package id="Xamarin.ShareQuick" version="1.0.0" targetFramework="monoandroid81" />
</packages>